<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407827507010-ptvrvjjopbpeqlqi0enl7sbeef9enmi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407827507010-ptvrvjjopbpeqlqi0enl7sbeef9enmi6</string>
	<key>API_KEY</key>
	<string>AIzaSyB_lI37WDAmWqwF0YPiDA_OMTg9vFQ58hg</string>
	<key>GCM_SENDER_ID</key>
	<string>407827507010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jawaid.firebaseauthusingbloc</string>
	<key>PROJECT_ID</key>
	<string>phoneauthbloc-fda98</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthbloc-fda98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:407827507010:ios:99eb6485b305169662cadb</string>
</dict>
</plist>
